<a href="https://colab.research.google.com/github/ethan-yoo/2022_aiffel_exp/blob/main/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from sklearn.datasets import load_iris

iris = load_iris()

print(dir(iris))

['DESCR', 'data', 'data_module', 'feature_names', 'filename', 'frame', 'target', 'target_names']

In [5]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [8]:
iris_data = iris.data

print(iris_data.shape)
print(iris_data[0])

(150, 4)
[5.1 3.5 1.4 0.2]

In [11]:
iris_label = iris.target
print(iris_label.shape)
iris_label

(150,)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [14]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [16]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [19]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [21]:
iris.filename

'iris.csv'

In [22]:
import pandas as pd

print(pd.__version__)

1.3.5

In [29]:
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [32]:
iris_df['label'] = iris.target
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [35]:
from sklearn.model_selection import train_test_split as tts

x_train, x_test, y_train, y_test = tts(iris_data, iris_label, test_size=0.2, random_state=24)

print('x_train 개수:', len(x_train), 'x_test 개수:', len(x_test))

x_train 개수: 120 x_test 개수: 30

In [37]:
x_train.shape, y_train.shape
x_test.shape, y_test.shape

((30, 4), (30,))

In [38]:
y_train, y_test

(array([1, 0, 1, 1, 2, 2, 0, 1, 1, 1, 1, 0, 0, 0, 1, 2, 1, 0, 0, 0, 0, 0,
        0, 1, 2, 1, 2, 1, 2, 1, 1, 1, 0, 2, 1, 0, 1, 2, 1, 1, 2, 1, 0, 0,
        0, 2, 2, 1, 1, 2, 2, 0, 2, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 2, 1,
        0, 1, 0, 2, 0, 0, 1, 2, 0, 0, 0, 1, 0, 0, 2, 2, 0, 2, 2, 0, 1, 0,
        1, 1, 0, 2, 1, 0, 0, 1, 1, 1, 1, 1, 2, 0, 0, 2, 0, 2, 0, 1, 2, 2,
        2, 1, 0, 2, 2, 2, 2, 2, 1, 2]),
 array([2, 2, 1, 1, 2, 0, 0, 1, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 2, 2, 2, 2,
        2, 1, 2, 0, 2, 2, 0, 2]))

In [40]:
from sklearn.tree import DecisionTreeClassifier as dtc

decision_tree = dtc(random_state=30)
print(decision_tree._estimator_type)

decision_tree.fit(x_train, y_train)

classifier

DecisionTreeClassifier(random_state=30)

In [43]:
y_pred = decision_tree.predict(x_test)
print(y_pred)
print(y_test)

[2 2 2 1 2 0 0 2 0 2 0 0 0 2 2 0 2 0 2 2 2 2 2 1 2 0 2 2 0 2]
[2 2 1 1 2 0 0 1 0 2 0 0 0 2 2 0 2 0 2 2 2 2 2 1 2 0 2 2 0 2]

In [44]:
from sklearn.metrics import accuracy_score as acs

accuracy_score = acs(y_test, y_pred)
print(accuracy_score)

0.9333333333333333

In [57]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split as tts
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn.metrics import classification_report as cfr

# 데이터 준비
iris = load_iris()
iris_data = iris.data
iris_label = iris.target

# 데이터 분리
x_train, x_test, y_train, y_test = tts(iris_data, iris_label, test_size=0.2, random_state=30)

# 모델 학습 및 예측
decision_tree = dtc(random_state=30)
decision_tree.fit(x_train, y_train)
y_pred = decision_tree.predict(x_test)

print(cfr(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       0.89      0.89      0.89         9
           2       0.89      0.89      0.89         9

    accuracy                           0.93        30
   macro avg       0.93      0.93      0.93        30
weighted avg       0.93      0.93      0.93        30